body {
    background-color: #f0f4ef;
    font-family:'Comfortaa';
}

.hero-title, .divStyle{
    text-align: center;
}

.titleStyle, .hero-title {
    color: #344966;
    margin-top: 0;
}

.image-container{
    text-align: center;
    width: 150px;
    display: inline-block;
    background-color:#344966;
    padding: 1px;
    border-radius: 20px;
}

.imageStyle {
    border-radius: 100%;
    width: 130px;
}

.text-container{
    width: 600px; /* para encaixar divs lado a lado */
    display: inline-block;
    margin-left: 10px;
}

.buttonStyle{
    color:#f0f4ef;
    background-color:#0d1821;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
}

ul li:nth-of-type(odd){
    font-style: italic;
}