body {
    background-color: #f0f4ef;
    font-family:'Comfortaa';
}
.imageStyle {
    border-radius: 100%;
    border-style: solid;
    width: 100px;
}
.titleStyle {
    color: #344966;
}
.textStyle{
    color: #344966;
    text-align: center;
}
.buttonStyle{
    color:#f0f4ef;
    background-color:#0d1821;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
}
.divStyle{
    text-align: center;
}